
.wrapper{
  margin: 0 auto;
  width: 1340px;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 30px;
  .filter{
    height: 90px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 65px;
    padding-right: 45px;
    .filterPizza{
      width: 830px;
    }
    .sort{
      right: 0px;
      position: relative;
      width: 240px;
      
      svg{
        margin-right: 6px;
        margin-bottom: 1px;
      }
      b{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.015em;
        margin-right: 6px;
      }
      span{
        margin-bottom: 20x;
        cursor: pointer;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.015em;
        color: #FE5F1E;
        border-bottom: 1px dashed #FE5F1E;
      }
      .choiceSort{
        padding: 13px 0;
        position: absolute;
        right: 0;
        top: 20px;
        width: 132px;
        height: 136px;
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        
        .itemSortNotAct{
          cursor: pointer;
          height: 38px;
          padding: 10px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.015em;
          &:hover{
            background: rgba(254, 95, 30, 0.05);
            color: #FE5F1E;
          }
        }
        .itemSortAct{
          // background: rgba(254, 95, 30, 0.05);
          color: #FE5F1E;
          cursor: pointer;
          height: 38px;
          padding: 10px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.015em;
          &:hover{
            background: rgba(254, 95, 30, 0.05);
            color: #FE5F1E;
          }
        }
      }
    }
  }
  .cartWrapper{
    margin: 0 auto;
    padding-top: 14px;
    padding-left: 230px;
    padding-right: 230px;
    .empty{
      margin: 0 auto;
      padding-top: 80px;
      width: 547px;
      height: 523px;
      b{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */
        margin-bottom: 20px;
        letter-spacing: 0.01em;
      }
      button{
        cursor: pointer;
        background: #282828;
        border-radius: 30px;
        width: 210px;
        height: 46px; 
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.015em;
        margin-top: 20px;
        color: #FFFFFF;
        border: none;
      }
      span{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 145.4%;
        /* or 26px */
        margin-bottom: 20px;
        text-align: center;
        letter-spacing: 0.01em;

        color: #777777;
      }
    }
    .cartWindow{
      height: 650px;
     
      .cartHeader{
        height: 72px;
        
        .headerLeft{
          
          svg{
            margin-right: 10px;
            margin-bottom: 8px;
          }
          b{
            bottom: 0px;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            letter-spacing: 0.01em;
            margin-bottom: 6px;
          }
        }
        .headerRight{
          cursor: pointer;
          svg{
            margin-right: 3px;
          }
          span{
            margin-top: 3px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #B6B6B6;
            margin-right: 5px;
          }
        }
      }
      .itemWrapper{
        height: 420px;
        overflow: auto;
        .item{
   
          height: 140px;
          border-top: 1px solid #F4F4F4;
          img{
            margin-right: 15px;
            
          }
          .itemInfo{
            width: 440px;
            b{
              font-style: normal;
              font-weight: bold;
              font-size: 22px;
              line-height: 27px;
              letter-spacing: 0.01em;
            }
            span{
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 22px;
              letter-spacing: 0.01em;
              color: #8D8D8D;
            }
          }
          .counter{
            svg{
              cursor: pointer;
            }
            b{
              font-style: normal;
              font-weight: bold;
              font-size: 22px;
              line-height: 27px;
              margin-left:7px;
              margin-right: 7px;
              letter-spacing: 0.01em;
            }
           }
          .sumItem{
            text-align: center;
            width: 300px;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            letter-spacing: 0.01em;
          }
          .dltItem{
            cursor: pointer;
            width: 42px;
            height: 32px;
          }
        }
      }
      .allOrder{
        padding-top: 10px;
        height: 60px;
        span{
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 27px;
          letter-spacing: 0.01em;
          .sum{
            color: #FE5F1E;
            margin-right: 8px;
          }
        }
      }
      .footerCart{
        button{
          width: 211px;
          height: 55px;
          border-radius: 30px;
          cursor: pointer;
        } 
        .btnBack{
          background-color: #fff;
          border: 1px solid #D3D3D3;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #CACACA;
          svg{
            margin-right: 10px;
          }
          
        }
        .btnPay{
          background: #FE5F1E;
          border-radius: 30px;
          border: none;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #FFFFFF;
        }

      }
    }

  }
  .contentWrapper{
    padding-left: 65px;
    padding-right: 55px;
    .titlePage{
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: 0.01em;
    
    }
    .content{
      margin: 0 auto;
      .contentLoading{
        margin-right: 25px;
        margin-top: 25px;
        width: 280px;
        height: 459px;
      }
    }
  }
}

